
<div id="simulator">


<ion-header>
  <ion-toolbar>
      <h1> Japres </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <!--ngFor example for displaying data
    <div *ngFor="let d of japresData">
        <p>{{d['question']}}</p>
    </div>
    -->
    <h1>Japres Learning App</h1>
    <div id="navLinks">
      <button (click)="routeOptions(1)">
        Game 1 (Speech Frenzy?)
      </button>
      <button>
        Game 2 (Magic Trouble)
      </button>
      <button>
        Game 3 (Bubble Match)
      </button>
      <button>
        Game 4 (Kana Challenge)
      </button>
      <button>
        Information
      </button>
    </div>
  </div>

</ion-content>


</div>