
#navLinks {
  display:flex;
  flex-direction: column;
  margin:10px; 
  width:100%; 
  justify-self:center; 
}
#navLinks button {
  margin:10px; 
  padding: 5px;
  width:50%; 
  font-family:'Comic Sans', Arial, Helvetica, sans-serif; 
  align-self: center;
}